$ruler: 16px;
$color-red: #686ed0;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

body, html {
  background-color:$color-bg;
}

h1{
  font-size: 40px;
}

body, p, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: $ruler;
}

div, p {
  color: $color-shadow;
  text-shadow: 1px 1px 1px $color-white;
}


form {
  padding: $ruler;
  width: $ruler*20;
  margin: 0 auto;
}

.segment{
  padding: $ruler*2 0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
}

label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

input {
  margin-right: $ruler/2;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

&:focus {
   box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
 }
}

button {
  color:#61677C;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

&:hover {
   box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
 }

&:active {
   box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
 }

.icon {
  margin-right: $ruler/2;
}

&.unit {
   border-radius: $ruler/2;
   line-height: 0;
   width: $ruler*3;
   height: $ruler*3;
   display:inline-flex;
   justify-content: center;
   align-items:center;
   margin: 0 $ruler/2;
   font-size: $ruler*1.2;

.icon {
  margin-right: 0;
}
}

&.red {
   display: block;
   width: 100%;
   color:$color-red;
 }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

label {
  margin: 0;
  flex: 1;
}
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: $color-red;
}

.label-text {
  margin-left: 16px;
}

.toggle-state:checked ~ .label-text{
  color: $color-red;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
  -8px -4px 8px 0px $color-white,
  8px 4px 12px 0px $color-shadow,
  4px 4px 4px 0px $color-shadow inset,
  -4px -4px 4px 0px $color-white inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: $color-bg;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
  -8px -4px 8px 0px $color-white,
  8px 4px 12px 0px $color-shadow;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}

.active{
  color: $color-red;
}

.change-form{
  cursor: pointer;
  margin: $ruler * 1.5 auto $ruler * 1.5 auto;
  text-align: center;

&:hover{
   color: $color-red;
 }
}

form {
  border-radius: $ruler*2;
  margin: auto;
  max-width: 30%;
  max-height: auto;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
}

select {
  display:flex;
  flex-direction: column;
  position:relative;
  width:250px;
  height:40px;
  font-size: 20px;
}

option {
  padding:0 30px 0 10px;
  min-height:40px;
  display:flex;
  align-items:center;
  border-top:#222 solid 1px;
  position:absolute;
  top:0;
  font-size: 20px;
  width: 100%;
  pointer-events:none;
  order:2;
  z-index:1;
  box-sizing:border-box;
  overflow:hidden;
  white-space:nowrap;

}

.option:hover {
  background:#666;
}

.select:focus .option {
  position:relative;
  pointer-events:all;
}
